<div class="bg-dark py-5">

    <div class="container-lg">
        
        <h2 class="text-center text-success fs-1 catalogo">Catalogo</h2>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4 my-5">
                    <div class="card bg-dark text-white border border-white" style="height: 14rem;" (click)="catGames()">
                        <img src="../../assets/img/videogiochi.jpg" class="card-img h-100 opacity-25">
                        <div class="card-img-overlay h-25 mx-0 my-auto">
                            <h5 class="card-title text-center fs-3 text-white fw-bolder">VIDEO GAMES</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 my-5">
                    <div class="card bg-dark text-white border border-white" style="height: 14rem;" (click)="catSerie()">
                        <img src="../../assets/img/serietv.jpeg" class="card-img h-100 opacity-25">
                        <div class="card-img-overlay h-25 mx-0 my-auto">
                            <h5 class="card-title text-center fs-3 text-white fw-bolder">SERIE TV</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 my-5">
                    <div class="card bg-dark text-white border border-white" style="height: 14rem;" (click)="catManga()">
                        <img src="../../assets/img/anime.jpg" class="card-img h-100 opacity-25">
                        <div class="card-img-overlay h-25 mx-0 my-auto">
                            <h5 class="card-title text-center fs-3 text-white fw-bolder">MANGA</h5>
                        </div>
                    </div>
                </div>
            </div>
            
            <router-outlet></router-outlet>
            
    </div>
</div>