<h2 class="text-center text-success">CATALOGO</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="card bg-dark text-white" style="height: 14rem;">
                <img src="../../assets/img/videogiochi.jpg" class="card-img h-100 opacity-50">
                <div class="card-img-overlay h-25 mx-0 my-auto">
                  <h5 class="card-title text-center fs-3 text-danger">VIDEO GAMES</h5>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card bg-dark text-white" style="height: 14rem;">
                <img src="../../assets/img/serietv.jpeg" class="card-img h-100 opacity-50">
                <div class="card-img-overlay h-25 mx-0 my-auto">
                  <h5 class="card-title text-center fs-3 text-danger">SERIE TV</h5>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card bg-dark text-white" style="height: 14rem;">
                <img src="../../assets/img/anime.jpg" class="card-img h-100 opacity-50">
                <div class="card-img-overlay h-25 mx-0 my-auto">
                  <h5 class="card-title text-center fs-3 text-danger">MANGA</h5>
                </div>
            </div>
        </div>
    </div>
</div>