<div class="container-fluid">

    <h2 class="text-center text-success catalogo">Catalogo</h2>
    
    <div class="container-fluid my-5">
        <div class="row">
        <div class="col-4">
            <div class="card bg-dark text-white" style="height: 14rem;">
                <img src="../../assets/img/videogiochi.jpg" class="card-img h-100 opacity-25">
                <div class="card-img-overlay h-25 mx-0 my-auto">
                  <h5 class="card-title text-center fs-3 text-white fw-bolder">VIDEO GAMES</h5>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card bg-dark text-white" style="height: 14rem;">
                <img src="../../assets/img/serietv.jpeg" class="card-img h-100 opacity-25">
                <div class="card-img-overlay h-25 mx-0 my-auto">
                  <h5 class="card-title text-center fs-3 text-white fw-bolder">SERIE TV</h5>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card bg-dark text-white" style="height: 14rem;">
                <img src="../../assets/img/anime.jpg" class="card-img h-100 opacity-25">
                <div class="card-img-overlay h-25 mx-0 my-auto">
                  <h5 class="card-title text-center fs-3 text-white fw-bolder">MANGA</h5>
                </div>
            </div>
        </div>
    </div>
</div>
</div>