<div class="imgGame">
    <img src="../../assets/img/singleImgProva.jpg" alt="" style="width: 100%; height: 30rem;">
</div>

<div class="container-lg py-5">
    <div class="first py-3">
        <div class="row m-0 pe-5 py-5">
            <div class="col-5" style="height: 45rem;">
                <img src="{{manga.img}}" class="rounded-3" style="height: 100%; width: 100%;">
            </div>
            <div class="col-1"></div>
            <div class="col-6 border border-1 rounded-3 bg-light py-5 px-5">
                <h1 class="text-center">{{manga.title}}</h1>
                <div class="row mt-5">
                    <div class="col-6">
                        <p>Sviluppatore: <strong>{{manga.mangaka}}</strong></p>
                        <p>Genere: <strong>{{manga.genre}}</strong></p>
                        <p>Volumi: <strong>{{manga.volumi}}</strong></p>
                    </div>
                    <div class="col-6">
                        <p>Publisher: <strong>{{manga.publisher}}</strong></p>
                        <p>Data di rilascio: <strong>{{manga.pubDate}}</strong></p>
                        <p>Status: <strong>{{manga.stato}}</strong></p>
                    </div>
                </div>
                <p class="text-center mt-3"><strong>Descrizione</strong></p>
                <p>{{manga.description}}</p>
                <h3 class="text-center fs-1 mt-5 mb-0">{{manga.price}}€</h3>
                <div class="btn-group w-100 mt-5 px-5">
                    <button class="btn btn-danger w-25"><i class="fa-solid fa-heart"></i></button>
                    <button class="btn btn-warning w-75">ACQUISTA</button>
                </div>
            </div>
        </div>
    </div>
    <div class="second">
        <h2 class="text-center text-white border-bottom fs-1 pb-1">Valutazione</h2>
        <div class="star w-25 mx-auto my-3 text-center">
            <a href=""><i class="fa-solid fa-star mx-1 fs-3 text-warning"></i></a>
            <a href=""><i class="fa-solid fa-star mx-1 fs-3 text-warning"></i></a>
            <a href=""><i class="fa-solid fa-star mx-1 fs-3 text-warning"></i></a>
            <a href=""><i class="fa-solid fa-star mx-1 fs-3 text-warning"></i></a>
            <a href=""><i class="fa-solid fa-star mx-1 fs-3 text-warning"></i></a>
        </div>
    </div>
</div>

