<div class="container-fluid my-5">
  
  <h2 class="text-center text-success fs-1">Area Privata</h2>

  <p class="text-center fs-4 my-3">Inserimento articoli</p>

  <div class="text-center my-4">
    <div class="btn-group w-100" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary border border-dark fs-5 py-3 text-black shadow-none" (click)="addGames()">VIDEOGAMES</button>
      <button type="button" class="btn btn-secondary border border-dark fs-5 py-3 text-black shadow-none" (click)="addSeries()">SERIE TV</button>
      <button type="button" class="btn btn-secondary border border-dark fs-5 py-3 text-black shadow-none" (click)="addManga()">MANGA</button>
    </div>
  </div>
  
  <router-outlet></router-outlet>

</div>