<div class="container-fluid">
  
  <h2 class="text-center text-success fs-1">Area Privata</h2>

  <p class="text-center fs-4">Inserimento articoli</p>

  <div class="container-fluid text-center my-3">
    <div class="btn-group " role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary border border-dark" (click)="addGames()">Video Games</button>
      <button type="button" class="btn btn-primary border border-dark" (click)="addSeries()">Serie Tv</button>
      <button type="button" class="btn btn-primary border border-dark" (click)="addManga()">Manga</button>
    </div>
  </div>
  
  <router-outlet></router-outlet>

</div>