<h1>BENVENUTI NEL MIGLIOR SITO DI VIDEOGIOCHI, SERIE TV E ANIME</h1>

<div class="container-fluid">

    <div class="imgprincipale">
        <img src="../../assets/img/ElderRing1.png" class="img-fluid w-100">
    </div>
    
    <div class="ipiuvotati">
        
        <!-- <img src="../../assets/img/ElderRing.jpeg" class="img-thumbnail">
        <img src="../../assets/img/ElderRing.jpeg" class="img-thumbnail">
        <img src="../../assets/img/ElderRing.jpeg" class="img-thumbnail">
        <img src="../../assets/img/ElderRing.jpeg" class="img-thumbnail">
        <img src="../../assets/img/ElderRing.jpeg" class="img-thumbnail"> -->
        
        <div class="card-group">
            <div class="card">
              <img src="../../assets/img/ElderRing.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                
                
              </div>
            </div>
            <div class="card">
              <img src="../../assets/img/ElderRing.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                
                
              </div>
            </div>
            <div class="card">
              <img src="../../assets/img/ElderRing.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                
               
              </div>
            </div>
          </div>





    </div>
</div>