
<div class="container-fluid">
    <h1 class="title py-4 text-center">COCODEUAAA</h1>

    <div class="imgprincipali border-top border-start border-end border-3 border-secondary bg-dark px-3 py-4 shadow">
        <div class="row h-100">
            <div class="col-4 radius">
                <img src="../../assets/img/Kratos.jpg" class="img-fluid w-100 h-100">
            </div>
            <div class="col-4 radius">
                <img src="../../assets/img/Kratos.jpg" class="img-fluid w-100 h-100">
            </div>
            <div class="col-4 radius">
                <img src="../../assets/img/Kratos.jpg" class="img-fluid w-100 h-100">
            </div>
        </div>
    </div>
    
    <div class="ipiucomprati border-top border-start border-end border-3 border-secondary bg-dark px-3 py-4 shadow">
        <h3 class="giochi text-center text-white mb-4">I GIOCHI PIU' COMPRATI</h3>
        <div class="row">
            <div class="col-3">
                <div class="card bg-transparent" style="height: 23rem;">
                    <img src="../../assets/img/Gow.jpg" class="card-img-top w-100 h-100" alt="...">
                </div>
            </div>
            
            <div class="col-3">
                <div class="card bg-transparent" style="height: 23rem;">
                    <img src="../../assets/img/locandina Elder ring.jpg" class="card-img-top w-100 h-100" alt="...">
                    
                </div>
                
            </div>
            
            <div class="col-3">
                
                <div class="card bg-transparent" style="height: 23rem;">
                    <img src="../../assets/img/Gow.jpg" class="card-img-top w-100 h-100" alt="...">
                    
                </div>
            </div>
            
            <div class="col-3">
                
                <div class="card bg-transparent" style="height: 23rem;">
                    <img src="../../assets/img/Gow.jpg" class="card-img-top w-100 h-100" alt="...">
                    
                </div>
            </div>
            
        </div>
    </div>
    

    <div class="ipiuvisti border-top border-start border-end border-3 border-secondary bg-dark px-3 py-4 shadow">
        <h3 class="serie text-center text-white mb-4">LE SERIE TV PIU' VISTE</h3>
        <div class="row">

            <div class="col-3">
                <div class="card bg-transparent" style="height: 23rem;">
                    <img src="../../assets/img/locandina game of thrones.jpg" class="card-img-top w-100 h-100" alt="...">
                    
                </div>
            </div>
            <div class="col-3">
                <div class="card bg-transparent" style="height: 23rem;">
                    <img src="../../assets/img/locandina stranger things.jpg" class="card-img-top w-100 h-100" alt="...">
                    
                </div>
            </div>
            <div class="col-3">
                <div class="card bg-transparent" style="height: 23rem;">
                    <img src="../../assets/img/locandina game of thrones.jpg" class="card-img-top w-100 h-100" alt="...">
                    
                </div>
            </div>
            <div class="col-3">
                <div class="card bg-transparent" style="height: 23rem;">
                    <img src="../../assets/img/locandina stranger things.jpg" class="card-img-top w-100 h-100" alt="...">
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="ipiuletti border-top border-bottom border-start border-end border-3 border-secondary bg-dark px-3 py-4 shadow">
        <h3 class="manga text-center text-white mb-4">I MANGA PIU' LETTI</h3>
        <div class="row">
            <div class="col-3">
                <div class="card bg-transparent" style="height: 23rem;">
                    <img src="../../assets/img/l-attacco-dei-giganti-manga.jpg" class="card-img-top w-100 h-100" alt="...">
                    
                </div>
            </div>
            <div class="col-3">
                <div class="card bg-transparent" style="height: 23rem;">
                    <img src="../../assets/img/l-attacco-dei-giganti-manga.jpg" class="card-img-top w-100 h-100" alt="...">
                    
                </div>
            </div>
            <div class="col-3">
                <div class="card bg-transparent" style="height: 23rem;">
                    <img src="../../assets/img/l-attacco-dei-giganti-manga.jpg" class="card-img-top w-100 h-100" alt="...">
                    
                </div>
            </div>
            <div class="col-3">
                <div class="card bg-transparent" style="height: 23rem;">
                    <img src="../../assets/img/l-attacco-dei-giganti-manga.jpg" class="card-img-top w-100 h-100" alt="...">
                    
                </div>
            </div>

            
        </div>  
    </div>
    
</div>
