<h1 class="title py-4">BENVENUTI NEL MIGLIOR SITO DI VIDEOGIOCHI, SERIE TV E MANGA</h1>

<div class="container-fluid">

    <div class="imgprincipale">
        <img src="../../assets/img/Kratos.jpg" class="img-fluid w-100">
    </div>
    
    <div class="ipiucomprati py-3">
        <h3>I PIU' COMPRATI</h3>
        <div class="row">
            <div class="col-3">
                <div class="card" style="height: 15rem;">
                    <img src="../../assets/img/ElderRing.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">God Of War</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-3">
                <div class="card" style="height: 15rem;">
                    <img src="../../assets/img/ElderRing.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Elder Ring</h5>
                    </div>
                </div>
                
            </div>
            
            <div class="col-3">
                
                <div class="card" style="height: 15rem;">
                    <img src="../../assets/img/ElderRing.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Horizon Forbidden West</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-3">
                
                <div class="card" style="height: 15rem;">
                    <img src="../../assets/img/ElderRing.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bloodborn</h5>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    

    <div class="ipiuvisti py-3">
        <h3>LE SERIE TV PIU' VISTE</h3>
        <div class="row">

            <div class="col-3">
                <div class="card" style="height: 15rem;">
                    <img src="../../assets/img/gameofthrones.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Game Of Thrones</h5>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="height: 15rem;">
                    <img src="../../assets/img/strangerthings.jpeg" class="card-img-top h-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Stranger Things</h5>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="height: 15rem;">
                    <img src="../../assets/img/gameofthrones.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Breaking Bad</h5>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="height: 15rem;">
                    <img src="../../assets/img/gameofthrones.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Prison Break</h5>
                    </div>
                </div>
            </div>


    
    <div class="ipiuletti py-3">
        <h3>I MANGA PIU' LETTI</h3>
        <div class="row">
            <div class="col-3">
                <div class="card" style="height: 15rem;">
                    <img src="../../assets/img/l-attacco-dei-giganti-manga.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">L'attacco dei Giganti</h5>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="height: 15rem;">
                    <img src="../../assets/img/gameofthrones.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Game Of Thrones</h5>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="height: 15rem;">
                    <img src="../../assets/img/gameofthrones.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Game Of Thrones</h5>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="height: 15rem;">
                    <img src="../../assets/img/gameofthrones.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Game Of Thrones</h5>
                    </div>
                </div>
            </div>
        </div>


    </div>

        </div>
    </div>
    
    
<h3></h3>

</div>