<div class="games">
    <h1 class="text-center">Videogiochi</h1>

    <div class="gruppo">

        <div class="input-group flex-nowrap py-2">
            <span class="input-group-text" id="addon-wrapping">T</span>
            <input type="text" class="form-control" placeholder="Titolo" aria-label="Username" aria-describedby="addon-wrapping">
            <span class="input-group-text" id="addon-wrapping">S</span>
            <input type="text" class="form-control" placeholder="Sviluppatore" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <div class="input-group flex-nowrap py-2">
            <span class="input-group-text" id="addon-wrapping">G</span>
            <input type="text" class="form-control" placeholder="Genere" aria-label="Username" aria-describedby="addon-wrapping">
            <span class="input-group-text" id="addon-wrapping">P</span>
            <input type="text" class="form-control" placeholder="Publisher" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <div class="input-group flex-nowrap py-2">
            <span class="input-group-text" id="addon-wrapping">D</span>
            <input type="text" class="form-control" placeholder="Data di rilascio" aria-label="Username" aria-describedby="addon-wrapping">
            <span class="input-group-text" id="addon-wrapping">€</span>
            <input type="text" class="form-control" placeholder="Prezzo" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <div class="input-group">
            <span class="input-group-text">Descrizione</span>
            <textarea class="form-control" aria-label="With textarea" style="resize: none;" rows="3"></textarea>
        </div>

    </div>

</div>
