<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-2 col-sm-4 col-xs-6">
                    <h3> Sede </h3>
                    <ul>
                        <li> <a href="#">IMMAGINAZIONE E LAVORO</a> </li>
                        <li> <a href="#">Via Carlo Alberto, 22/A, 10123 Torino TO </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-2 col-sm-4 col-xs-6">
                    <h3> Email </h3>
                    <ul>
                        <li> <a href="#"> Ceo: MatteoLeg@gmail.com </a> </li>
                        <li> <a href="#"> Dg: SimonSudox@gmail.com </a> </li>
                        <li> <a href="#"> Info: DanielSudox@gmail.com </a> </li>
                      
                    </ul>
                </div>
                <div class="col-lg-3  col-md-2 col-sm-4 col-xs-6">
                    <h3> Diritti e privacy </h3>
                    <ul>
                        <li> <a href="#"> Privacy Policy</a> </li>
                        <li> <a href="#"> Terms & Conditions</a> </li>
                        <li> <a href="#"> Cookies Policy</a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Subscribe </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <button class="btn  bg-gray" type="button"> Join us <i class="fa fa-long-arrow-right"> </i> </button>
                            </div>
                        </li>
                    </ul>
                    <h3 [ngStyle]="{'padding-top': '10px'}"> follow</h3>
                    <div class="container align-content-xl-center">
                    <ul class="social center">
                        <li> <a href="#"> <i class="fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
        <div>Copyright © 2022, Torino capitale</div>
    </div>
    <!--/.footer-->
</footer>